.App {
  text-align: center;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 2s;
}

.main-bg {
  height: 300px;
  background-image: url('../public/img/bg.png');
  background-size: cover;
  background-position: center;
}

.container .row .col-md-4 img {
  width: 80%;
}

.container .row .col-md-6 img {
  width: 100%;
}

.btn-more {
  width: 120px;
  height: 80px;
  background-color: #e9e9e9;
  font-weight: 700;
  color: #444;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  margin-top: 30px;
}